*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font: size 20px;
  color: #23272A
}

header{
  height: 80px;
  line-height: 80px;
  background-color: #3161E0;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.logo img{
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
  color: white;
  padding: 0 20px;
} 

nav ul li:hover{
  text-decoration: underline;
}


.logo, .main-nav{
  float: left;
}

#accedi{
  float: right;
}


.main-nav{
  width: calc(100% - 200px);
  text-align: center;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}


.jumbotron{
  height: 510px;
  background-image: url(../img/jumbo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.text{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.text h1{
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-top: 90px;
}

.text p{
  color: white;
  font-size: 16px;
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.big{
  padding: 15px;
}

.btn.black{
  background-color: black;
  color: white;
  margin: 20px;
}

.btn:hover{
  color: #3161E0 ;
}

.white{
  background-color: white;
}


.bg{
  width: 60%;
  margin: 0 auto;
}

.img-float, .t-float{
  float: left;
}

.img-main img{
  width: 500px;
  margin-top: 100px;
}

.t-main{
  text-align: left;
  width: 300px;
}

.t-main h1, .last-text h1{
  font-size: 40px;
  color: black;
}

.t-main p, .last-text p{
  color: black;
  font-size: 16px;
}


.lightgrey{
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

#second-img{
  margin-left: 100px;
}

.last-text{
  text-align: center;
}

.last-text p{
  padding-top: 40px;
}

.last-text h1{
  padding-top: 50px;
}

.last-img{
  height: 500px;
  position: relative;
}

.last-img img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2{
  color: black;
  text-align: center;
  margin-top: 50px;
}

.star{
  height: 80px;
  width: 550px;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.last-btn{
  background-color: #8EA1E2;
  margin-left: 45%;
  
}

.grey{
  background-color: grey;
  min-height: 500px;
}


.text-footer{
  color: #8EA1E2;
  text-align: left;
}

.bg-footer{
  margin: 0 auto;
  width: 80%;
}

.first img{
  height: 17px;
  width: 25px;
  vertical-align: middle;
}

.italia{
  padding-top: 20px;
}

.first, .list{
  width: 200px;
  padding-top: 30px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.first, .second, .third, .fourth, .fifth{
  float: left;
}