*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font: size 20px;
  color: #23272A
}

header{
  height: 80px;
  line-height: 80px;
  background-color: #3161E0;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.logo img{
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
  color: white;
  padding: 0 20px;
} 

nav ul li:hover{
  text-decoration: underline;
}


.logo, .main-nav{
  float: left;
}

#accedi{
  float: right;
}




.main-nav{
  width: calc(100% - 200px);
  text-align: center;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}


.jumbotron{
  height: 510px;
  background-image: url(../img/jumbo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.text{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.text h1{
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-top: 90px;
}

.text p{
  color: white;
  font-size: 16px;
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.big{
  padding: 15px;
}

.btn.black{
  background-color: black;
  color: white;
  margin: 20px;
}

.btn:hover{
  color: #3161E0 ;
}

.white{
  background-color: white;
}


.bg{
  width: 60%;
  margin: 0 auto;
}

.img-main, .t-main{
  float: left;
  width: 60%;
}

.img-main img{
  width: 500px;
  margin-top: 100px;
}

.t-main{
  text-align: left;
  width: 300px;
}

.t-main h1{
  font-size: 40px;
  color: black;
  padding-top: 30px;
}

.t-main p{
  color: black;
  font-size: 16px;
}


.grey{
  background-color: #F6F6F6;
}

#second-img{
  margin-left: 100px;
}